// =============================================================================
// Functions
// =============================================================================

// convert pixel to rem
@function rem($size) {
    $rem-size: strip-unit($size) / strip-unit($font-size-base);
    @return $rem-size * 1rem;
}

// Remove the unit
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
        @return $number / ($number * 0 + 1);
    }

    @return $number;
}

// get ratio
@function ratio($width, $height) {
    @return ($height / $width) * 100%;
}

// convert pixel to em
@function em($size, $em-base: 16) {
    $em-size: $size / $em-base;
    @return $em-size * 1em;
}

// Check if an item is contained in a list
@function contains($list, $var) {
    $_out: false;

    @each $item in $list {
        @if $item == $var {
            $_out: true;
        }
    }

    @return $_out;
}

// a save way to return the nth value of a list
@function save-nth-list-value($list, $position) {
    $value: null;

    @for $i from 1 through length($list) {
        @if $i == $position {
            $value: nth($list, $i);
        }
    }
    @return $value;
}
