// GENERIC
// Normalize.css........A level playing field. Imported globally from
//                      node modules using sass-module-importer in css gulp task.
// Box-sizing...........Better default `box-sizing`.
// Keyframes............Animation keyframes.
// Reset................A pared back reset to remove margins.
// Shared...............Sensibly and tersely share global commonalities.

@import 'generic/generic.box-sizing';
@import 'generic/generic.keyframes';
@import 'generic/generic.reset';
@import 'generic/generic.shared';
