// ============================================================================
// Grid justified
// ============================================================================

.grid--justified {
    text-align: justify;
    text-justify: distribute-all-lines;

    > * {
        text-align: left;
    }

    &::after {
        display: inline-block;
        width: 100%;
        content: '';
    }
}
