// ============================================================================
// Grid spacing
// ============================================================================

.grid--row-spacing {
    margin-bottom: $grid-spacing;

    > * {
        margin-bottom: $grid-spacing;
    }
}

.grid--col-spacing {
    margin-left: -$grid-spacing;

    > * {
        padding-left: $grid-spacing;
    }
}
