// ============================================================================
// Lists
// ============================================================================

// Remove trailing margins from nested lists.
li > {
    ul,
    ol {
        margin-bottom: 0;
    }
}

