// ============================================================================
// Page elements
// ============================================================================

html {
    font-family: $font-family-default-sans-serif;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: $color-page-background;
    color: $color-page-text;
    -webkit-tap-highlight-color: transparent;
    height: 100%;
    min-height: 100%;
}

body {
    position: relative;
    height: 100%;
}
