// ============================================================================
// Section spacing
// ============================================================================


.section {
    padding-top: $section-spacing;
    padding-bottom: $section-spacing;
}

.section--no-top {
    padding-top: 0;
}

.section--no-bottom {
    padding-bottom: 0;
}
