// =============================================================================
// Grid flex
// =============================================================================

// Be weary of browser support when using this http://caniuse.com/#search=flex
// Make sure you bake in a fallback, either a no-flexbox detection with js
// https://github.com/springload/frontend-starter-kit/blob/master/core/static_src/js/utils/index.js#L169
// Or IE specific inline-block fallback? Dependant on your browser support,
// check out this list of issues and workarounds:
// https://github.com/philipwalton/flexbugs

// Using the flex grid
//  <div class="grid-flex">
//      <div class="width-1/2@medium">...</div>
// </div>
//
// Learn more about the `width-` class in ../utilities/_utilities.widths.scss

.grid-flex {
    @include grid-inline;

    @supports (display: flex) {
        justify-content: flex-start;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        > * {
            width: 100%;
        }
    }
}
