// ============================================================================
// Grid alignment
// ============================================================================

.grid--middle > * {
    vertical-align: middle;
}

.grid--bottom > * {
    vertical-align: bottom;
}
