// =============================================================================
// Page gutters
// =============================================================================

.gutters {
    padding-right: $spacing;
    padding-left: $spacing;
}

.gutters\@small {
    @include small {
        padding-right: $spacing;
        padding-left: $spacing;
    }
}

// turns the gutters off while on the breakpoint small
.gutters--off\@small {
    @include small {
        padding-right: 0;
        padding-left: 0;
    }
}
