// =============================================================================
// Section spacing
// =============================================================================

.section {
    padding-top: $spacing;
    padding-bottom: $spacing;
}

.section--no-top {
    padding-top: 0;
}

.section--no-bottom {
    padding-bottom: 0;
}

.section--stacked + .section--stacked {
    padding-top: 0;
}
