// =============================================================================
// Order grid elements
// =============================================================================

@mixin grid--order-reverse {
    direction: rtl;
    > * {
        direction: ltr;
    }

    @supports (display: flex) {
        direction: ltr;
        flex-direction: row-reverse;
    }
}

.grid--order-reverse {
    @include grid--order-reverse;
}

.grid--order-reverse\@small {
    @include small {
        @include grid--order-reverse;
    }
}
