// =============================================================================
// Media blocks
// =============================================================================

// Float an image to the left/right, with a clearfixed block of content to the
// right/left.

$spacing-media: 1em;

.media {
    @include clearfix;
}

.media__image {
    float: left;
    margin-right: $spacing-media;
}

// Swap the image to the right
.media--rev > .media__image {
    float: right;
    margin-right: 0;
    margin-left: $spacing-media;
}

.media__body {
    @include clearfix;
}

// Don't let text wrap underneath image
.media__body--no-wrap {
    overflow: hidden;
}

//  Modifiers
// =============================================================================

.media--middle-align {
    display: flex;
    align-items: center;
}

.media--middle-align.media--rev {
    >.media__image {
        order: 1;
    }
}
