// =============================================================================
// Grid alignment
// =============================================================================

.grid--middle {
    @supports (display: flex) {
        align-items: center;
    }
    > * {
        vertical-align: middle;
    }
}

.grid--bottom {
    @supports (display: flex) {
        align-items: flex-end;
    }
    > * {
        vertical-align: bottom;
    }
}
