// =============================================================================
// Text
// =============================================================================

.u-text-bold {
    font-weight: $font-weight-bold;
}

.u-text-uppercase {
    text-transform: uppercase !important;
}

.u-text-underline {
    text-decoration: underline !important;
}

.u-text-muted {
    opacity: 0.75 !important;
}

.u-font-size\- {
    font-size: 0.9em;
}

.u-font-size-- {
    font-size: 0.85em;
}

.u-font-size\+ {
    font-size: 1.2em;
}

.u-font-size\+\+ {
    font-size: 1.5em;
}

.u-text-truncate {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.u-hyphen {
    @include xsmall {
        // These are technically the same, but use both
        overflow-wrap: break-word;
        word-wrap: break-word;
        // This is the dangerous one in WebKit, as it breaks things wherever
        word-break: break-all;
        // Instead use this non-standard one:
        word-break: break-word;
        // Adds a hyphen where the word breaks, if supported (No Blink)
        hyphens: auto;
    }
}
