// =============================================================================
// Alignment
// =============================================================================

// margin center
.u-margin-center,
.u-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

// vertical aligns
.u-align-middle {
    vertical-align: middle !important;
}

.u-align-top {
    vertical-align: top !important;
}

.u-align-bottom {
    vertical-align: bottom !important;
}

// floats
.u-float-left {
    float: left !important;
}

.u-float-right {
    float: right !important;
}

.u-clear {
    clear: both !important;
    overflow: hidden;
    @include clearfix;
}
