// =============================================================================
// Links
// =============================================================================

.link {
    transition: color 0.2s $ease-primary;

    &:hover {
        color: $color-page-links;
    }
}

//  Modifiers
// =============================================================================

.link--underline {
    box-shadow: inset 0 -0.062em 0 $color-white;

    &:hover {
        box-shadow: inset 0 -0.062em 0 $color-page-links;
    }
}
