// =============================================================================
// Buttons
// =============================================================================

.btn {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    background-color: $color-blue;
    color: $color-white;
    text-decoration: none;
    transition: color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    padding-right: $spacing;
    padding-bottom: 0;
    padding-left: $spacing;
    line-height: 2.5;
    border-color: $color-blue;
    border-style: solid;
    border-width: 3px;
    border-radius: 0;
    font-size: inherit;
    font-weight: $font-weight-bold;

    // Ensures that buttons with too much text don't overflow
    // past page width on smaller screens. This ensures text
    // is truncated with no word wrap and text overflow ellipsis
    @include small {
        max-width: 100%;
    }

    &,
    &:hover {
        text-decoration: none;
    }

    &:hover {
        color: $color-white;
        background-color: $color-blue-shadow;
        border-color: $color-blue-shadow;
    }
}

//  Modifiers
// =============================================================================

.btn--small {
    padding-right: $spacing / 1.5;
    padding-left: $spacing / 1.5;
    line-height: 2;
}

.btn--wide {
    padding-right: $spacing * 2;
    padding-left: $spacing * 2;
}

.btn--block {
    width: 100%;
}

.btn--block\@small {
    @include small {
        width: 100%;
    }
}

.btn[disabled],
.btn--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5 !important;
}
