// ============================================================================
// Page gutters
// ============================================================================


.gutters {
    padding-right: $base-spacing-unit;
    padding-left: $base-spacing-unit;
}

.gutters\@small {

    @include small {
        padding-right: $base-spacing-unit;
        padding-left: $base-spacing-unit;
    }
}

//turns the gutters off while on the breakpoint small
.gutters--off\@small {

    @include small {
        padding-right: 0;
        padding-left: 0;
    }
}
