// =============================================================================
// Common form fields, input, select, label
// =============================================================================

// Inputs
@mixin base-input {
    box-sizing: border-box;
    outline: none;
    appearance: none;
}

@mixin input-styles {
    display: block;
    width: 100%;
    background-color: $color-white;
    border: 1px solid $color-grey-light;
    border-radius: 2px;
    padding-top: $spacing-xxxs;
    padding-bottom: $spacing-xxxs;
    padding-left: $spacing-xxs;
    padding-right: $spacing-xxs;
}

.input,
.textarea {
    @include base-input;
    @include input-styles;
}

.input:disabled,
.textarea:disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5 !important;
}

// Custom Select
// <div class="select">
//      <select>...</select>
// </div>

.select {
    @include input-styles;
    position: relative;
    overflow: hidden;

    &:after {
        display: block;
        position: absolute;
        top: 44%;
        right: 1rem;
        content: '';
        border-left: 0.4rem solid transparent;
        border-right: 0.4rem solid transparent;
        border-top: 0.4rem solid $color-grey-light;
        z-index: 0;
    }

    select {
        @include base-input;
        position: relative;
        background: transparent;
        color: $color-page-text;
        border: 0;
        margin-top: 0;
        margin-bottom: 0;
        z-index: 1;
        width: 110%;

        &::-ms-expand {
            display: none;
        }
    }
}
