// =============================================================================
// Buttons
// =============================================================================

$color-btn: $color-page-text;
$color-btn-border: $color-page-text;
$color-btn-background: #fff;
$color-btn-hover: #fff;
$color-btn-background-hover: $color-page-text;
$padding-btn: $base-spacing-unit;

.btn {
    display: inline-block;
    vertical-align: middle;
    font: inherit;
    text-align: center;
    margin: 0;
    cursor: pointer;
    background-color: $color-btn-background;
    color: $color-btn;
    transition: $base-transition;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-top: 0;
    padding-right: $padding-btn;
    padding-bottom: 0;
    padding-left: $padding-btn;
    line-height: 2.5;
    border-color: $color-btn-border;
    border-style: solid;
    border-width: 3px;
    border-radius: 0;
    font-size: inherit;
    font-weight: $font-weight-bold;

    // Ensures that buttons with too much text don't overflow
    // past page width on smaller screens. This ensures text
    // is truncated with no word wrap and text overflow ellipsis
    @include small {
        max-width: 100%;
    }

    &,
    &:hover {
        text-decoration: none;
    }

    &:hover {
        color: $color-btn-hover;
        background-color: $color-btn-background-hover;
    }
}

//  Modifiers
// =============================================================================

.btn--small {
    padding-right: $padding-btn / 1.5;
    padding-left: $padding-btn / 1.5;
    line-height: 2;
}

.btn--wide {
    padding-right: $padding-btn * 2;
    padding-left: $padding-btn * 2;
}

.btn--block {
    width: 100%;
}

.btn--block\@small {
    @include small {
        width: 100%;
    }
}

.btn[disabled],
.btn--disabled {
    pointer-events: none;
    cursor: default;
    opacity: 0.5 !important;
}
