// =============================================================================
// Rich text
// =============================================================================
// This is specifically for wagtail, text will appear in a div
// with a .rich-text class, this is one of the only places
// you are allowed to style elements in the components folder.

.rich-text {
    a {
        text-decoration: underline;
    }

    ul,
    ol {
        margin-left: $spacing * 2;
    }

    br + br {
        display: none;
    }

    .richtext-image {
        margin-bottom: $spacing;

        &.full-width {
            width: 100%;
        }

        &.left {
            @include medium {
                float: left;
                margin-right: $spacing;
            }
        }

        &.right {
            @include medium {
                float: right;
                margin-left: $spacing;
            }
        }
    }
}
