// ============================================================================
// Links
// ============================================================================

.link {
    transition: $base-transition;

    &:hover {
        color: $color-page-text;
    }
}


//  Modifiers
// -----------------------------------------------------------------------------

.link--large {
    font-weight: $font-weight-bold;
    font-size: rem(18);
    line-height: 1.2;

    @include medium {
        font-size: rem(21);
        line-height: 1.1;
    }

    @include large {
        font-size: rem(23);
        line-height: 1.05;
    }
}


.link--underline {
    box-shadow: inset 0 -.062em 0 $color-white;

    &:hover {
        box-shadow: inset 0 -.062em 0 $color-page-text;
    }
}


.link--faux-underline {
    transition: $base-transition;
    box-shadow: inset 0 -.062em 0 $color-white;
}
