// ============================================================================
// Stacked responsive tables
// Rows and cells are full width and stack on top of each other at small sizes.
// We retain some header context by hiding the header and adding data attribute
// content to pseudo elements.
// ============================================================================

.table--stacked {
    // Table rows get divider borders when stacked so remove bottom from table
    @include small {
        border-bottom: 0;
    }
}

// Hide table headers on small screens since we are stacking rows
.table--stacked .table__head {
    @include small {
        display: none;
    }
}

// Add a divider line to rows when they're stacked
.table--stacked .table__row {
    @include small {
        display: block;
        border-bottom: 1px solid $color-table-border;
        padding-bottom: .75rem;
    }
}

// Make table cells full width
.table--stacked .table__cell {
    @include small {
        display: block;
        width: 100%;
        padding-bottom: 0;
        border-right: 0;
    }
}

// Make first column act more like a heading
.table--stacked .table__cell:first-child {
    @include small {
        font-weight: bold;
    }
}

// Add corresonding table header content to each cell as a
// pseudo element so we don't lose column context
.table--stacked .table__cell::before {
    @include small {
        display: block;
        width: 100%;
        content: attr(data-header);
        font-weight: $font-weight-normal;
        opacity: .75;
        font-size: .875em;
    }
}
