// ============================================================================
// Radio picker
//
// Turns a group of radio elements into big tappable regions, while still being
// accessible through keyboard navigation:

// <div class="radio-picker">
//      <label>
//         <input class="radio-picker__input" type="radio" name="" checked>
//         <span class="radio-picker__body">
//              Rich context goes here!
//         </span>
//     </label>
//     <label>
//         <input class="radio-picker__input" type="radio" name="">
//         <span class="radio-picker__body">
//              Rich context goes here!
//         </span>
//     </label>
// </div>
// ============================================================================


$color-radio-picker-bg: $color-white;
$color-radio-picker-border: #dfdfdf;
$color-radio-picker-hover: #fafafa;
$color-radio-picker-checked: #4a4a4a;
$color-radio-picker-focus-outline: rgba(0, 0, 0, .5);


.radio-picker > label,
.radio-picker__item {
    display: inline-block;
    position: relative;
    margin-bottom: 1rem;
    margin-left: -1px;
    box-sizing: border-box;
}

.radio-picker > label:first-of-type,
.radio-picker__item:first-of-type {
    margin-left: 0;
}

.radio-picker__input {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
    appearance: none;
}

// If ever using outline 0 on focus always replace it with something else
.radio-picker__input:focus {
    outline: 0;
}

.radio-picker__body {
    display: block;
    padding: 1em;
    background-color: $color-radio-picker-bg;
    border: solid 1px $color-radio-picker-border;
}

.radio-picker__input:focus + .radio-picker__body {
    box-shadow: inset 0 0 0 3px $color-radio-picker-focus-outline;
    border-color: $color-radio-picker-focus-outline;
}

.radio-picker__input:hover + .radio-picker__body {
    background-color: $color-radio-picker-hover;
}

.radio-picker__input:checked + .radio-picker__body {
    background-color: $color-radio-picker-checked;
    border-color: $color-radio-picker-checked;
    color: $color-radio-picker-bg;
}
