// =============================================================================
// Site colors
// =============================================================================

//  Site colours
// =============================================================================
$color-blue: #3d7bf7;
$color-blue-highlight: lighten($color-blue, 5%);
$color-blue-shadow: darken($color-blue, 5%);

// Common
// =============================================================================
$color-black: #000;
$color-white: #fff;
$color-grey-dark: #333;
$color-grey-light: #666;

// Page
// =============================================================================
$color-page-text: $color-grey-dark;
$color-page-background: $color-white;

// Accesibility
// =============================================================================
$color-focus: #6cc6ee;
$color-select: #e5e5e5;

// Opacity
// =============================================================================
$color-white-opacity-01: rgba(255, 255, 255, 0.1);
$color-black-opacity-01: rgba(0, 0, 0, 0.1);
