// =============================================================================
// Global settings
// =============================================================================

// Fonts
// =============================================================================

$font-family-default-sans-serif: 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-default-serif: 'Georgia', 'Times New Roman', Times, serif;

$font-size-base: 16px;
$line-height-base: 24px;
$line-height-headline: 1.2;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// Spacing
// =============================================================================

$base-spacing-unit: 1.5rem; // 24px
$spacing: $base-spacing-unit;

$spacing-xxs: rem(8);
$spacing-xs: rem(12);
$spacing-s: rem(16);

$spacing-l: rem(32);
$spacing-xl: rem(40);
$spacing-xxl: rem(64);

// Animations/Transitions
// =============================================================================

$base-transition: all 0.1s ease-in;

$ease-primary: cubic-bezier(0.51, 0.11, 0.59, 0.92);
$ease-out-primary: cubic-bezier(0.2, 0.42, 0.59, 0.92);
$ease-in-primary: cubic-bezier(0.55, 0.12, 1, 1);

$ease: cubic-bezier(0.43, 0.11, 0.41, 1);
$easing-circ: cubic-bezier(0.075, 0.82, 0.165, 0);
